<section class="home-container">
  <h1>Welcome to the Weather and Soccer Data App</h1>
  <ul>
    <li><%= link_to 'Weather Data', weather_path, class: 'button-link' %></li>
    <li><%= link_to 'Score Data', score_path, class: 'button-link' %></li>
  </ul>
</section>
