<h1>Weather Data</h1>
<table>
  <tr>
    <th>Day</th>
    <th>Temperature Spread</th>
  </tr>
  <tr>
    <td><%= @weather_data[:day] %></td>
    <td><%= @weather_data[:spread] %></td>
  </tr>
</table>

<%= link_to 'Home', root_path %>
